#high school contest
mycall	JA1ZLO;
wpm	30;				ＣＷ送信速度（WPM）
weight	50;				ウエイト
tone	on;
loop	2.5;				ＣＱ繰り返し間隔（秒）
vloop	10.0;				ＣＱ繰り返し（ボイスメモリ）
prov	10;				$V 都府県支庁ﾅﾝﾊﾞｰ for ﾌｨｰﾙﾄﾞﾃﾞｰ($Q)etc
;city	100110;				$Q 市郡ﾅﾝﾊﾞｰ
zero	O;				$Q,$R,$S で数字を略す
one	A;
nine	N;
f1_a	CQ HS TEST DE $M $M TEST;	z で繰り返し送信される
f2_a	$C $R$VC;高校個人社団局は$C $R$VHS	TABキーで送信、ｺﾝﾃｽﾄﾅﾝﾊﾞｰ入力に移る
f3_a	TU $M TEST;			+,j,↓で送信、QSOを確定する
f4_a	NR?;
f5_a	$C?;
f6_a	QRZ?;
f7_a	$C TU DE $M TEST;
f8_a	$C QSO B4 TU;
f1_b	$M;
f2_b	$R$VC;高校個人社団局は$R$VHS
f3_b	GL
f4_b	NR?
f5_b	QRL?;
f6_b	QRZ?;
f7_b	TU;
f8_b	E E;
;cq2	TEST DE $M
;cq3	CQ CQ CQ TEST $M $M TEST
reverse	off;				ディフォルト パドル長短点
power	--H-H-HMM----;			1.9 MHz ... 10.1GHz&Up ﾃﾞｨﾌｫﾙﾄﾊﾟﾜｰ
;
; 得点テーブル(SSB CW FM AM)
pt7	1311;
pt21	1311;
pt50	1311;
pt144	1311;
pt430	1311;
;
dat	hs;		DAT FILE
spc	zlog;		SPC FILE
sub	zlog;		SUB FILE
cut	0;		-x[n] option
sendnr	$VC;		高校個人社団は$VHS	CONVCG 用
JARL	on;		HS,Cの情報をマルチから削除
mode	on;		CW、PHONEの両モード交信可能
counthigh	on;		得点の高いモードでの交信をカウントする
unlistedmulti on
exit
dll on